CADDY_IMAGE=
CADDY_CONTAINER_NAME=
CADDY_HOST_PORT=
CADDYFILE_PATH=
LANDING_PATH=

MYSQL_IMAGE=
MYSQL_DATABASE=
MYSQL_TIME_ZONE_OFFSET=
MYSQL_HOST_PORT=
MYSQL_HEALTHCHECK_PASSWORD=
MYSQL_HEALTHCHECK_INTERVAL=
MYSQL_HEALTHCHECK_TIMEOUT=
MYSQL_HEALTHCHECK_RETRIES=

REDIS_IMAGE=
REDIS_APPENDONLY=
REDIS_HOST_PORT=
REDIS_HEALTHCHECK_INTERVAL=
REDIS_HEALTHCHECK_TIMEOUT=
REDIS_HEALTHCHECK_RETRIES=

AUTH_BUILD_CONTEXT=
AUTH_IMAGE=
AUTH_HOST_PORT=
AUTH_DB_URL=
AUTH_DB_USERNAME=

USER_BUILD_CONTEXT=
USER_IMAGE=
USER_HOST_PORT=
USER_DB_URL=
USER_DB_USERNAME=
PROFILE_IMAGE_HOST_PATH=
PROFILE_IMAGE_STORAGE_PATH=
PROFILE_IMAGE_PUBLIC_URL_PREFIX=
DOCS_IMAGE_HOST_PATH=
DOCS_IMAGE_STORAGE_PATH=
DOCS_IMAGE_PUBLIC_URL_PREFIX=

POSTGRES_VM_IMAGE=
POSTGRES_VM_DATABASE=
POSTGRES_VM_USERNAME=
POSTGRES_VM_HOST_PORT=
POSTGRES_VM_HEALTHCHECK_INTERVAL=
POSTGRES_VM_HEALTHCHECK_TIMEOUT=
POSTGRES_VM_HEALTHCHECK_RETRIES=

VM_BUILD_CONTEXT=
VM_IMAGE=
VM_HOST_PORT=
VM_DB_URL=

POSTGRES_OPS_IMAGE=
POSTGRES_OPS_DATABASE=
POSTGRES_OPS_USERNAME=
POSTGRES_OPS_HOST_PORT=
POSTGRES_OPS_HEALTHCHECK_INTERVAL=
POSTGRES_OPS_HEALTHCHECK_TIMEOUT=
POSTGRES_OPS_HEALTHCHECK_RETRIES=

OPS_BUILD_CONTEXT=
OPS_DOCKERFILE=
OPS_IMAGE=
OPS_HOST_PORT=
OPS_DB_URL=

PORTAL_BUILD_CONTEXT=
PORTAL_HOST_PORT=

SPRING_PROFILES_ACTIVE=
TZ=
APP_PORT=

DB_PASSWORD=
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

AUTH_SERVER_URL=
USER_SERVICE_URL=
VM_SERVICE_URL=
OPS_SERVICE_URL=

JWT_PRIVATE_KEY=
JWT_PUBLIC_KEY=
JWT_REMEMBER_ME_REFRESH_TOKEN_EXPIRY=2592000000

MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=
EMAIL_VERIFICATION_ENABLED=

VM_SERVICE_CLIENT_SECRET=
OPS_SERVICE_CLIENT_SECRET=

PROXMOX_URL=
PROXMOX_TOKEN_ID=
PROXMOX_TOKEN_SECRET=
PROXMOX_NODE=
PROXMOX_BRIDGE=
PROXMOX_STORAGE=
PROXMOX_VMID_START=
PROXMOX_VMID_END=

CLOUDFLARE_API_TOKEN=
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_ZONE_ID=
CLOUDFLARE_TUNNEL_ID=
CLOUDFLARE_BASE_DOMAIN=
RESERVED_SUBDOMAINS=

OPS_KEY_ENCRYPTION_SECRET=
VM_SSH_USERNAME=
PORTAL_ORIGIN=
OPENAI_API_KEY=
AI_MODEL_STANDARD=
AI_MODEL_ESCALATED=
OPS_FILE_BROWSER_MAX_EDIT_SIZE_BYTES=
OPS_FILE_BROWSER_MAX_UPLOAD_SIZE_BYTES=

GITHUB_APP_ID=
GITHUB_APP_SLUG=
GITHUB_APP_CLIENT_ID=
GITHUB_APP_CLIENT_SECRET=
GITHUB_APP_PRIVATE_KEY=
GITHUB_WEBHOOK_SECRET=

NEXT_PUBLIC_AUTH_API=
NEXT_PUBLIC_USER_API=
NEXT_PUBLIC_VM_API=
NEXT_PUBLIC_OPS_API=
ADMIN_DOMAIN=
